<header class="header-component">
    <button class="button start-button" (click)="startGame()"
            [disabled]="cpuReactionValidation.invalid"
            [class.-invalid]="cpuReactionValidation.invalid"
    >
        <span>Start</span>
    </button>
    <label class="reaction-input-box">
        <input class="cpu-reaction-input" type="number" placeholder="Set CPU speed, ms"
               #setCPUReaction (input)="setCpuReaction(setCPUReaction.value)"
               [formControl]="cpuReactionValidation"
               [class.-invalid]="cpuReactionValidation.invalid"
        >
        <span class="reaction-input-tip" *ngIf="cpuReactionValidation.invalid">Set CPU reaction, min = 100, ms</span>
<!--        <span class="cpu-reaction-info">i</span>-->
    </label>
    <div class="points">
        <h2>{{ playerPoints }} : {{ cpuPoints }}</h2>
    </div>
</header>

<ng-container *ngIf="(cpuPoints === 10) || (playerPoints === 10)">
    <section class="modal-wrapper">
        <div class="modal-body" [class.-lose]="cpuPoints === 10">
            <div class="score">
                <span>{{ playerPoints }}</span>
                <span>:</span>
                <span>{{ cpuPoints }}</span>
            </div>
            <p>{{(cpuPoints === 10) ? 'CPU' : 'YOU' }} WIN</p>
            <button (click)="startNewGame()" class="button close-modal-button">
                <span>close</span>
            </button>
        </div>
    </section>
</ng-container>
