:host {
    width: 100%;
}

.header-component {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 16px 24px;

    .start-button {
        background: #c41111;
    }

    .reaction-input-box {
        display: flex;
        align-items: center;

        .cpu-reaction-input {
            min-width: 250px;
            border-width: 0;
            padding: 10px 12px;

            &:invalid {
                border: 8px dotted red;
            }

            &::-webkit-outer-spin-button,
            &::-webkit-inner-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }

            /* Firefox */
            &[type=number] {
                -moz-appearance: textfield;
            }
        }

        .cpu-reaction-info {
            margin-left: 8px;
            padding: 4px;
            text-align: center;
            width: 30px;
            height: 30px;
            color: #FFFFFF;
            font-size: 22px;
            line-height: 1;
            border: 1px solid #FFFFFF;
            cursor: help;

            &:hover {
                border-color: red;
            }
        }
    }

    .points {
        font-size: 20px;
        line-height: 1;
        color: #1fd21f;
    }
}

//_____MODAL
.modal-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.9);
}

.modal-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 280px;
    padding: 24px;
    background: #FFFFFF;
    box-shadow: inset 0px 0px 0px 8px #1fd21f;
    font-size: 20px;
    font-weight: 600;

    &.-lose {
        box-shadow: inset 0px 0px 0px 8px #c41111;
    }

    .score {
        display: flex;
        width: 100%;
        margin-bottom: 16px;
        font-size: 40px;
        text-align: center;

        span {
            flex: 1;
        }
    }

    .close-modal-button {
        margin-top: 16px;

        span {
            color: #000000;
        }
    }
}
