.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100% - 114px);
}

.tiles-box {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-gap: 3px;
    margin: auto;

    .tile {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100px;
        height: 100px;
        background: blue;
        opacity: 0.9;
        color: #FFF;
        font-size: 36px;
        line-height: 1;
        border: 1px solid #FFFFFF;
        user-select: none;
        cursor: pointer;

        &:hover {
            transition: 0.2s;
            opacity: 1;
        }

        &.-yellow {
            background: #f5ec36;
        }

        &.-green {
            background: #1fd21f;
        }

        &.-red {
            background: #c41111;
        }

        .tile-name {
            font-size: 32px;
            line-height: 1;
        }
    }
}

// Media queries
@media all and (max-width: 1920px) {
    .tiles-box {
        .tile {
            width: 60px;
            height: 60px;

            .tile-name {
                font-size: 20px;
            }
        }
    }
}

@media all and (max-width: 1920px) and (min-resolution: 1.5dppx) {
    .tiles-box {
        .tile {
            width: 48px;
            height: 48px;

            .tile-name {
                font-size: 16px;
            }
        }
    }
}
